<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalyearproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalYearProject"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Mentor_Profile_Details_Activity"
            android:exported="true" />
        <activity
            android:name=".Reports.Goals_Only_Started_Mentor"
            android:exported="true" />
        <activity
            android:name=".Reports.Goals_In_Progress_Mentor"
            android:exported="true" />
        <activity
            android:name=".Reports.Goals_Completed_Mentor"
            android:exported="true" />
        <activity
            android:name=".Reports.Goals_Only_Started_Mentee"
            android:exported="true" />
        <activity
            android:name=".Reports.Goals_In_Progress_Mentee"
            android:exported="true" />
        <activity
            android:name=".Reports.Goals_Completed_Mentee"
            android:exported="true" />
        <activity
            android:name=".Reports.RatingReportChartBar"
            android:exported="true" />
        <activity
            android:name=".Rating_Activity"
            android:exported="true" />
        <activity
            android:name=".ResetPassword"
            android:exported="true" />
        <activity
            android:name=".API.CollegeDetails"
            android:exported="true" />
        <activity
            android:name=".API.CollegeOptions"
            android:exported="true" />
        <activity
            android:name=".API.CompanyDetails"
            android:exported="true" />
        <activity
            android:name=".API.CompanyInformation"
            android:exported="true" />
        <activity
            android:name=".API.CareerOptionsMentee"
            android:exported="true" />
        <activity
            android:name=".Reports.LocationReportChartMentee"
            android:exported="true" />
        <activity
            android:name=".Mentees.Mentee_PDF"
            android:exported="true" />
        <activity
            android:name=".Reports.GoalsReportChartBar"
            android:exported="true" />
        <activity
            android:name=".Reports.GoalsReportChartBarMentor"
            android:exported="true" />
        <activity
            android:name=".Reports.Mentee_Reports"
            android:exported="true" />
        <activity
            android:name=".Reports.IndustryMenteeReportChartBar"
            android:exported="true" />
        <activity
            android:name=".Reports.MeetingsReportChartBar"
            android:exported="true" />
        <activity
            android:name=".Reports.MeetingsReportChartBarMentor"
            android:exported="true" />
        <activity
            android:name=".Reports.IndustryMentorReportChartBar"
            android:exported="true" />
        <activity
            android:name=".Reports.EuropeReportChartBar"
            android:exported="true" />
        <activity
            android:name=".Reports.EuropeReportChartBarMentor"
            android:exported="true" />
        <activity
            android:name=".Reports.SouthAmericaReportChartPie"
            android:exported="true" />
        <activity
            android:name=".Reports.SouthAmericaReportChartBar"
            android:exported="true" />
        <activity
            android:name=".Reports.AustraliaReportChartPie"
            android:exported="true" />
        <activity
            android:name=".Reports.AustraliaReportChartPieMentor"
            android:exported="true" />
        <activity
            android:name=".Reports.NorthAmericaReportChartBar"
            android:exported="true" />
        <activity
            android:name=".Reports.NorthAmericanReportChartPie"
            android:exported="true" />
        <activity
            android:name=".Reports.MiddleEastReportChartBar"
            android:exported="true" />
        <activity
            android:name=".Reports.MiddleEastReportChartBarMentor"
            android:exported="true" />
        <activity
            android:name=".Reports.AsiaReportChartBar"
            android:exported="true" />
        <activity
            android:name=".Reports.AsiaReportChartBarMentor"
            android:exported="true" />
        <activity
            android:name=".Reports.SkillsMenteeReportChartBar"
            android:exported="true" />
        <activity
            android:name=".Mentees.Goal_Edit"
            android:exported="true" />
        <activity
            android:name=".Reports.SkillsMentorReportChartBar"
            android:exported="true" />
        <activity
            android:name=".Reports.LocationReportChartMentor"
            android:exported="true" />
        <activity
            android:name=".Reports.Mentor_Reports"
            android:exported="true" />
        <activity
            android:name=".Reports.MentorshipReportChartPieMentee"
            android:exported="true" />
        <activity
            android:name=".Reports.MentorshipReportChartPieMentor"
            android:exported="true" />
        <activity
            android:name=".API.CompanyReportChart"
            android:exported="true" />
        <activity
            android:name=".Mentees.Mentee_View_Resumes"
            android:exported="true" />
        <activity
            android:name=".Mentees.Mentee_Add_Resume"
            android:exported="true" />
        <activity
            android:name=".Mentees.Mentee_Resume_Options"
            android:exported="true" />
        <activity
            android:name=".Industry_Fragments.SearchIndustryFragment"
            android:exported="true" />
        <activity
            android:name=".Mentees.Goals_Add_Activity"
            android:exported="true" />
        <activity
            android:name=".Mentor.Goals_Activity_Mentor"
            android:exported="true" />
        <activity
            android:name=".Mentees.Goals_Activity_Mentee"
            android:exported="true" />
        <activity
            android:name=".Mentor.Meetings_Activity_Mentor"
            android:exported="true" />
        <activity
            android:name=".Mentees.Meetings_Activity_Mentee"
            android:exported="true" />
        <activity
            android:name=".Models.Meetings"
            android:exported="true" />
        <activity
            android:name=".Mentees.MeetingRequest"
            android:exported="true" />
        <activity
            android:name=".API.CareerDetails"
            android:exported="true" />
        <activity
            android:name=".MentorFriends"
            android:exported="true" />
        <activity
            android:name=".Mentees.Mentee_Edit_Resume"
            android:exported="true" />
        <activity
            android:name=".Mentees.Message_Mentee"
            android:exported="true" />
        <activity
            android:name=".API.CareerOptions"
            android:exported="true" />
        <activity
            android:name=".Mentor.Message_Mentor"
            android:exported="true"
            android:parentActivityName=".Mentor.MentorMainActivity" />
        <activity
            android:name=".MenteeList"
            android:exported="true" />
        <activity
            android:name=".MentorList"
            android:exported="true" />
        <activity
            android:name=".Mentor_Request_Activity"
            android:exported="true" />
        <activity
            android:name=".Mentor.Mentee_Request_Activity"
            android:exported="true" />
        <activity
            android:name=".Mentee_Request_Activity"
            android:exported="true" />
        <activity
            android:name=".Mentor.Mentor_Profile_Activity"
            android:exported="true" />
        <activity
            android:name=".Mentees.Mentee_Profile_Activity"
            android:exported="true" />
        <activity
            android:name=".Mentor.Profile_Settings_Mentor_Activity"
            android:exported="true"
            android:parentActivityName=".Mentor.MentorMainActivity" />
        <activity
            android:name=".Mentees.Profile_Settings_Mentee_Activity"
            android:exported="true"
            android:parentActivityName=".Mentees.MenteeMainActivity" />
        <activity
            android:name=".Mentees.MenteeMainActivity"
            android:exported="true" />
        <activity
            android:name=".Mentor.MentorMainActivity"
            android:exported="true" />
        <activity
            android:name=".Welcome_Activity"
            android:exported="true" />
        <activity
            android:name=".Mentees.Mentee_Registration_Activity"
            android:exported="true" />
        <activity
            android:name=".Mentor.Mentor_Registration_Activity"
            android:exported="true" />
        <activity
            android:name=".Selection_Activity"
            android:exported="true" />
        <activity
            android:name=".Login_Activity"
            android:exported="true" />
        <activity
            android:name=".Kotlin.ChatbotKotlin"
            android:exported="true" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>